<ol class="breadcrumb">
  <li>{{#link-to 'boards'}}Boards{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<ul class="nav nav-tabs">
  {{#linkTo "board.index" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Summary</a>{{/linkTo}}
  {{#linkTo "board.heat" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Heat Map</a>{{/linkTo}}
  {{#linkTo "board.cumulative" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Cumulative Flow</a>{{/linkTo}}
  {{#linkTo "board.burnup" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Burn-up Chart</a>{{/linkTo}}
</ul>

{{outlet}}