<ol class="breadcrumb">
  <li>{{#link-to 'boards'}}Boards{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>

{{stacked-area-chart data=listCardsByDayData}}

<div class="">
  <table class="table table-condensed">
  {{#each trelloAction in trelloActions}}
  <tr>
    <td nowrap="nowrap">
      <strong>{{trelloAction.memberCreator.fullName}}</strong>
    </td>
    <td>
      <span {{bind-attr class=":label trelloAction.isCreateType:label-danger:label-info"}}>{{trelloAction.typeName}}</span>
    </td>
    <td>
      <a {{bind-attr href=trelloAction.cardLink}} target="_blank">{{trelloAction.data.card.name}}</a>
    </td>
    <td nowrap="nowrap">
      {{#if trelloAction.isUpdateType}}
        <span class="label label-info">from</span>
        <strong>{{trelloAction.data.listBefore.name}}</strong>
        <span class="label label-info">to</span>
        <strong>{{trelloAction.data.listAfter.name}}</strong>
      {{/if}}
      {{#if trelloAction.isCreateType}}
        <span class="label label-info">on</span>
        <strong>{{trelloAction.data.list.name}}</strong>
      {{/if}}
    </td>
    <td nowrap="nowrap">
      {{calendarTime trelloAction.date}}
    </td>
  </tr>
  {{/each}}
  </table>
</div>