<ol class="breadcrumb">
  <li>{{#link-to 'boards'}}Boards{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<ul class="nav nav-pills">
  {{#linkTo "board.index" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Summary</a>{{/linkTo}}
  {{#linkTo "board.heat" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Heat Map</a>{{/linkTo}}
  {{#linkTo "board.chart" tagName="li"}}<a {{bindAttr href="view.href"}} href="#">Chart</a>{{/linkTo}}
</ul>

{{outlet}}